<div class="modal-header">
    <h3 class="modal-title">Team Message</h3>
</div>
<form>
    <div class="modal-body">
        <div class="form-group">
            <textarea type="text" class="form-control" rows="5" placeholder="Message" ng-model="tpmc.message.message">
            </textarea>
            <div class="checkbox m-b-30">
                <label>
                    <input type="checkbox" ng-model="tpmc.message.notifyEmail">
                    <i class="input-helper"></i>
                    Send Team Email
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="tpmc.ok()">Save</button>
        <button class="btn btn-warning" type="button" ng-click="tpmc.cancel()">Cancel</button>
    </div>
</form>