<div class="modal-header">
    <h3 class="modal-title">Create New Team</h3>
</div>
<form>
    <div class="modal-body">
        <form class="form-control">
            <input class="form-control form-control-small" type="text" placeholder="Team Name" ng-model="teamname"/>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="ok()">Save</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>