<div class="modal-header">
    <h3 class="modal-title">Create Player</h3>
</div>
<form>
    <div class="modal-body">
        <div class="form-group">
            <input class="form-control form-control-small" type="text" placeholder="Email Address"
                   ng-model="tpc.player.emailAddress"/>
            <input class="form-control form-control-small" type="text" placeholder="Player Number"
                   ng-model="tpc.player.playerNumber"/>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="tpc.ok()">Save</button>
        <button class="btn btn-warning" type="button" ng-click="tpc.cancel()">Cancel</button>
    </div>
</form>

